body,
html {
    color: #333131;
    background: #333131;
}

.navbar-brand {
      font-family: 'Tangerine', serif;
  font-size: 30px;
  text-shadow: 4px 4px 4px #aaa;
}



.pagination {
    text-align: center;
    justify-content: center;
}

.card {
    height: 100%;
}

.alert {
    position: fixed;
    top: 50px;
    width: 50%;
    left: 25%;
    z-index: 1051;
}

.btn {
    padding: 0.75rem 0.7rem;
}

.back-to-top {
    text-align: center;

}

img {
	width: 30%;
	float: left;
	margin: 1.66%;
}
